<div class="weather-widget">
  @if (localTemperature(); as localTemp) {
    <div class="weather-widget-localtemp">
      @if (currentHourForecast(); as hourforecast) {
        <div class="wweather-widget-localtemp-forecast">
          @for (h of hourforecast; track h.time) {
            <div class="weather-widget-localtemp-forecast-item">
              <div class="icon-large">{{ getWeatherIcon(h.weatherCode) }}</div>
            </div>
          }
        </div>
      }
      <div class="current">{{ localTemp.current | number: '1.0-1' }}°C</div>
      <!-- <div class="range">
        <span class="max">▲ {{ localTemp.max | number: '1.0-1' }}°C</span>
        <span class="min">▼ {{ localTemp.min | number: '1.0-1' }}°C</span>
      </div> -->
    </div>
  }

  @if (dailyForecast(); as dailyforecast) {
    <div class="weather-widget-forecast">
      @for (d of dailyforecast; track d.date) {
        <div class="weather-widget-forecast-item">
          <div class="date">{{ d.date | date: 'EEE' }}</div>
          <div class="icon">{{ getWeatherIcon(d.weatherCode) }}</div>
          <div class="range">
            <div class="range-min">{{ d.min | number: '1.0-0' }}°C</div>
            <div class="range-today">
              <div class="dot"></div>
            </div>
            <div class="range-max">{{ d.max | number: '1.0-0' }}°C</div>
          </div>
        </div>
      }
    </div>
  }
</div>
